body {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

h1,
h2 {
	margin: 0;
}

ul {
	list-style: none;
}

button {
	width: fit-content;
}

input[type='number'] {
	width: 3rem;
}

.config {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

main {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 32px;
}

.aspect-box {
	display: grid;
	place-items: center;
	color: #000;
	font-size: 2rem;
	background-color: #8f8f8f;
}

.code-area {
	display: flex;
	flex-direction: column;
}

.aspect-code {
	background: #efefef;
	border: 1px solid #8f8f8f;
	border-radius: 15px;
	padding: 1rem;
	color: #000;
	font-size: 1rem;
	line-height: 1.5;

	margin-bottom: 32px;
}
